@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    background: url(../img/background.jpg)
    repeat;
    background-size: cover;
    background-color: #555;
}



.search-icon {
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color:#ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: color 2s;
    
}

.search-icon i {
    font-size: 15px;
    justify-content: center;
    color: #555;

}

.search-icon:hover {
    background-color: #dad9d9;
}


.card {
    width: 90%;
    max-width: 470px;
    background: rgb(14,0,255);
    background: linear-gradient(99deg, rgba(14,0,255,1) 0%, rgba(210,226,252,1) 0%, rgba(202,255,252,1) 48%);
    margin: 5% auto 0;
    border-radius: 20px;
    padding: 30px 30px;
    text-align: center;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.197);
    
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
 
input {
    background: #ebfffc;
    color: #555;
    border: 0;
    border-radius: 15px;
    padding: 25px 25px;
    height: 55px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.1rem;
    transition: color 2s;
}

input:hover {
    background-color: #dad9d9;
}

input:focus {
    outline: none;
}

.weather-icon {
    width: 50%;
    margin-top: 1%;
    animation: float 1.5s ease-in-out infinite;
}

.weather h1 {
    font-size: 80px;
    font-weight: 450;
    margin-top: -22px;
}

.weather h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: -20px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 30px;
}


.weather {
    display: none;
}   

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 15px;
    display: none;
}

@keyframes float { 
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-8px);
    }}